.searchBox {
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background-color: tan;
}

.search-button {
  margin: 5px;
}

.search-form {
  margin: 5px;
}
.search-random {
  margin: 5px;
}